# --- System & IDE ---
.DS_Store
.vscode/
.idea/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec

# --- Environments ---
.env
venv/
env/
.venv/

# --- Database & Logs ---
*.db
*.sqlite3
logs/
*.log

# --- WhatsApp Selenium Session (SANGAT PENTING) ---
chrome_data/
chromedriver
geckodriver

# --- Temporary Files ---
temp/
tmp/